.header {
    margin: 3rem 0 2rem 0;
}

.container {
    justify-items: center;
    justify-self: center;
    max-width: 40rem;
    width: 90%;
    min-height: 40rem;
    padding: 1rem 0;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks h2 {
    width: 30rem;
}

#task-form {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 1rem;
    border: solid 2px var(--cor-terciaria);
    width: 90%;
    background-color: #fff;
    padding: 1rem;
}

.input-add {
    width: 70%;
    border: solid 2px var(--cor-terciaria);
    padding: 0.7rem;
    margin: 0;
    font-size: 1.2rem;
    color: var(--cor-terciaria);
    border-radius: 1rem;
}

.input-add:focus {
    background: var(--cor-secundaria);
    outline: none;
    border-radius: 0;
    transition: all 0.5s linear;
}

.btn-add {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 0.8rem 2.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-add:hover {
    background-color: #006666;
    /* variação da cor primária */
    transform: translateY(-1px);
}

.input-checkbox {
    display: none;

}


li:has(.input-checkbox:checked) .span-item {
    text-decoration: line-through;
    opacity: 0.6;
}

li:has(.input-checkbox:checked) .label-checkbox {
    background-color: var(--cor-primaria);
    border: solid 2px var(--cor-primaria);
}

.label-checkbox {
    border: solid 2px var(--cor-terciaria);
    padding: 0.6rem;
    border-radius: 50%;
}

svg:hover,
.label-checkbox:hover {
    cursor: pointer;
}

#task-list {
    display: flex;
    flex-direction: column;
}

.tasks h2 {
    text-align: left;
}

.task-item {
    display: flex;
    background: #fff;
    border: solid 2px var(--cor-terciaria);
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    margin: 1rem 0;
    width: 30rem;
    align-items: center;
    /* color: var(--cor-terciaria); */
    font-size: 1.2rem;
    width: 100%;
}

.span-item {
    width: 100%;
    color: var(--cor-terciaria);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.2rem;
    position: relative;
}

.span-item:hover {
    cursor: text;
    background: rgb(210, 210, 210);
}

.inputEdit {
    width: 100%;
    color: var(--cor-terciaria);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.2rem;
    font-size: 1.3rem;
}

.inputEdit:focus-visible {
    outline: 2px solid var(--cor-terciaria);
    background: rgb(210, 210, 210);
}

.inputEdit-error {
    background-color: #e00;
    border: 2px solid red;
    outline-offset: 2px;
    background: #ffecec;
}


.button-delete {
    border: none;
}

svg {
    stroke: var(--cor-terciaria);
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

svg:hover {
    background-color: rgba(255, 0, 0, 0.9);
    stroke: var(--cor-secundaria);
}

.effect-glass {
    /* From https://css.glass */
    background: rgba(240, 238, 233, 0.44);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}

@media screen and (max-width: 768px) {
    #task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.input-add {
    width: 100%;
}

.btn-add {
    width: 50%;
}

.tasks, .tasks h2 {
    max-width: 90%;
}




}