.container {
    justify-items: center;
    justify-self: center;
    min-width: 40rem;
    min-height: 40rem;
    padding: 1rem 0;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks h2 {
    width: 30rem;
}

#task-form {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-radius: 1rem;
    border: solid 2px var(--cor-terciaria);
    width: 90%;
    background-color: #fff;
    padding: 1rem;
}

.input-add {
    width: 70%;
    border: solid 2px var(--cor-terciaria);
    padding: 0.5rem;
    margin: 0;
}

.btn-add {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 0.8rem 2.5rem;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-add:hover {
    background-color: #006666;
    /* variação da cor primária */
    transform: translateY(-1px);
}

.checkbox {
    display: none;
}


li:has(.input-checkbox:checked ) .span-item {
    text-decoration: line-through;
    opacity: 0.6;
}

.label-checkbox {
    border: solid 2px var(--cor-terciaria);
    padding: 0.6rem;
    border-radius: 0.3rem;
}

#task-list {
    display: flex;
    flex-direction: column;
     }

.tasks h2 {
    text-align: left;
     }

.task-item {
    background: #fff;
    border: solid 2px var(--cor-terciaria);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    margin: 1rem 0;
    width: 30rem;
    justify-items: space-between;
    color: var(--cor-terciaria);
    font-size: 1.2rem;
}

.effect-glass {
    /* From https://css.glass */
    background: rgba(240, 238, 233, 0.44);
    border-radius: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}